In [32]:
import pandas as pd
import requests


# Set target URLS for cleaning
url_2019 = 'https://www.boxofficemojo.com/month/by-year/2019/?grossesOption=calendarGrosses'
url_2020 = 'https://www.boxofficemojo.com/month/by-year/2020/?grossesOption=calendarGrosses'
url_2021 = 'https://www.boxofficemojo.com/month/by-year/2021/?grossesOption=calendarGrosses'
url_2022 = 'https://www.boxofficemojo.com/month/by-year/2022/?grossesOption=calendarGrosses'
url_2023 = 'https://www.boxofficemojo.com/month/by-year/2023/?grossesOption=calendarGrosses'

In [33]:
# Grab 2019 table and put into Pandas
response = requests.get(url_2019)
table_19 = pd.read_html(response.text)
table_2019 = table_19[0]
table_2019

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total
0,December,"$1,148,160,245",10.1%,167,"$6,875,211",Star Wars: Episode IX - The Rise of Skywalker,-,-,-,"$390,706,234",34%
1,November,"$959,213,976",8.4%,189,"$5,075,206",Frozen II,-,-,-,"$269,362,239",28.1%
2,October,"$781,640,026",6.9%,217,"$3,602,027",Joker,-,-,-,"$285,686,992",36.5%
3,September,"$686,794,246",6%,204,"$3,366,638",It Chapter Two,-,-,-,"$194,615,460",28.3%
4,August,"$837,630,353",7.4%,211,"$3,969,812",Fast & Furious Presents: Hobbs & Shaw,-,-,-,"$154,733,655",18.5%
5,July,"$1,288,196,026",11.3%,190,"$6,779,979",The Lion King,-,-,-,"$385,082,142",29.9%
6,June,"$1,149,048,054",10.1%,192,"$5,984,625",Toy Story 4,-,-,-,"$238,690,140",20.8%
7,May,"$1,077,667,188",9.5%,225,"$4,789,631",Avengers: Endgame,-,-,-,"$382,663,001",35.5%
8,April,"$1,034,983,338",9.1%,220,"$4,704,469",Avengers: Endgame,-,-,-,"$427,099,795",41.3%
9,March,"$962,715,490",8.5%,192,"$5,014,143",Captain Marvel,-,-,-,"$353,970,079",36.8%
10,February,"$624,462,229",5.5%,147,"$4,248,042",The Lego Movie 2: The Second Part,-,-,-,"$85,060,040",13.6%
11,January,"$812,849,718",7.2%,161,"$5,048,756",Aquaman,-,-,-,"$119,682,416",14.7%

In [34]:
# Clean table for merging

# Drop columns we won't be looking at
cleaned_2019 = table_2019[["Month", "Cumulative Gross", "% of Year", 'Releases','Average']]
cleaned_2019

        Month Cumulative Gross % of Year  Releases     Average
0    December   $1,148,160,245     10.1%       167  $6,875,211
1    November     $959,213,976      8.4%       189  $5,075,206
2     October     $781,640,026      6.9%       217  $3,602,027
3   September     $686,794,246        6%       204  $3,366,638
4      August     $837,630,353      7.4%       211  $3,969,812
5        July   $1,288,196,026     11.3%       190  $6,779,979
6        June   $1,149,048,054     10.1%       192  $5,984,625
7         May   $1,077,667,188      9.5%       225  $4,789,631
8       April   $1,034,983,338      9.1%       220  $4,704,469
9       March     $962,715,490      8.5%       192  $5,014,143
10   February     $624,462,229      5.5%       147  $4,248,042
11    January     $812,849,718      7.2%       161  $5,048,756

In [35]:
cleaned_2019.columns = ['Month','Cumulative Gross (2019)','% of Year (2019)','Releases (2019)','Average (2019)']
cleaned_2019

,Month,Cumulative Gross (2019),% of Year (2019),Releases (2019),Average (2019)
0,December,"$1,148,160,245",10.1%,167,"$6,875,211"
1,November,"$959,213,976",8.4%,189,"$5,075,206"
2,October,"$781,640,026",6.9%,217,"$3,602,027"
3,September,"$686,794,246",6%,204,"$3,366,638"
4,August,"$837,630,353",7.4%,211,"$3,969,812"
5,July,"$1,288,196,026",11.3%,190,"$6,779,979"
6,June,"$1,149,048,054",10.1%,192,"$5,984,625"
7,May,"$1,077,667,188",9.5%,225,"$4,789,631"
8,April,"$1,034,983,338",9.1%,220,"$4,704,469"
9,March,"$962,715,490",8.5%,192,"$5,014,143"
10,February,"$624,462,229",5.5%,147,"$4,248,042"
11,January,"$812,849,718",7.2%,161,"$5,048,756"

In [36]:
# Grab 2020 table and put into Pandas
response = requests.get(url_2020)
table_20 = pd.read_html(response.text)
table_2020 = table_20[0]
table_2020

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total
0,December,"$67,691,870",3.2%,65,"$1,041,413",Wonder Woman 1984,-,-,-,"$23,009,311",34%
1,November,"$62,738,998",3%,86,"$729,523",The Croods: A New Age,-,-,-,"$14,714,780",23.5%
2,October,"$63,361,603",3%,84,"$754,304",Tenet,-,-,-,"$11,390,072",18%
3,September,"$86,031,381",4.1%,62,"$1,387,602",Tenet,-,-,-,"$38,760,870",45.1%
4,August,"$32,316,928",1.5%,50,"$646,338",Unhinged,-,-,-,"$9,025,406",27.9%
5,July,"$7,806,635",0.4%,45,"$173,480",Relic,-,-,-,"$996,603",12.8%
6,June,"$3,677,627",0.2%,22,"$167,164",Becky,-,-,-,"$878,305",23.9%
7,May,"$995,838",<0.1%,13,"$76,602",The Wretched,-,-,-,"$835,397",83.9%
8,April,"$52,015",<0.1%,6,"$8,669","Phoenix, OregonRe-release",-,-,-,"$16,846",32.4%
9,March,"$253,334,028",12%,144,"$1,759,264",Onward,-,-,-,"$61,555,145",24.3%
10,February,"$638,097,308",30.2%,158,"$4,038,590",Sonic the Hedgehog,-,-,-,"$123,468,116",19.3%
11,January,"$897,742,569",42.5%,146,"$6,148,921",Bad Boys for Life,-,-,-,"$135,561,888",15.1%

In [37]:
# Drop columns we won't be looking at
cleaned_2020 = table_2020[["Month", "Cumulative Gross", "% of Year", 'Releases','Average']]
cleaned_2020

        Month Cumulative Gross % of Year  Releases     Average
0    December      $67,691,870      3.2%        65  $1,041,413
1    November      $62,738,998        3%        86    $729,523
2     October      $63,361,603        3%        84    $754,304
3   September      $86,031,381      4.1%        62  $1,387,602
4      August      $32,316,928      1.5%        50    $646,338
5        July       $7,806,635      0.4%        45    $173,480
6        June       $3,677,627      0.2%        22    $167,164
7         May         $995,838     <0.1%        13     $76,602
8       April          $52,015     <0.1%         6      $8,669
9       March     $253,334,028       12%       144  $1,759,264
10   February     $638,097,308     30.2%       158  $4,038,590
11    January     $897,742,569     42.5%       146  $6,148,921

In [38]:
cleaned_2020.columns = ['Month','Cumulative Gross (2020)','% of Year (2020)','Releases (2020)','Average (2020)']
cleaned_2020

,Month,Cumulative Gross (2020),% of Year (2020),Releases (2020),Average (2020)
0,December,"$67,691,870",3.2%,65,"$1,041,413"
1,November,"$62,738,998",3%,86,"$729,523"
2,October,"$63,361,603",3%,84,"$754,304"
3,September,"$86,031,381",4.1%,62,"$1,387,602"
4,August,"$32,316,928",1.5%,50,"$646,338"
5,July,"$7,806,635",0.4%,45,"$173,480"
6,June,"$3,677,627",0.2%,22,"$167,164"
7,May,"$995,838",<0.1%,13,"$76,602"
8,April,"$52,015",<0.1%,6,"$8,669"
9,March,"$253,334,028",12%,144,"$1,759,264"
10,February,"$638,097,308",30.2%,158,"$4,038,590"
11,January,"$897,742,569",42.5%,146,"$6,148,921"

In [39]:
# Grab 2021 table and put into Pandas
response = requests.get(url_2021)
table_21 = pd.read_html(response.text)
table_2021 = table_21[0]
table_2021

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total
0,December,"$921,180,089",20.5%,101,"$9,120,594",Spider-Man: No Way Home,-,-,-,"$572,984,769",62.2%
1,November,"$523,343,646",11.7%,87,"$6,015,444",Eternals,-,-,-,"$151,731,669",29%
2,October,"$623,287,457",13.9%,93,"$6,702,015",Venom: Let There Be Carnage,-,-,-,"$190,442,114",30.6%
3,September,"$367,172,835",8.2%,93,"$3,948,095",Shang-Chi and the Legend of the Ten Rings,-,-,-,"$200,071,802",54.5%
4,August,"$417,701,047",9.3%,94,"$4,443,628",Free Guy,-,-,-,"$81,323,882",19.5%
5,July,"$582,543,500",13%,91,"$6,401,576",Black Widow,-,-,-,"$165,235,364",28.4%
6,June,"$401,276,723",9%,85,"$4,720,902",F9: The Fast Saga,-,-,-,"$88,163,505",22%
7,May,"$214,709,870",4.8%,83,"$2,586,865",A Quiet Place Part II,-,-,-,"$57,088,948",26.6%
8,April,"$195,097,683",4.4%,79,"$2,469,590",Godzilla vs. Kong,-,-,-,"$76,961,746",39.4%
9,March,"$113,597,962",2.5%,64,"$1,774,968",Raya and the Last Dragon,-,-,-,"$29,737,142",26.2%
10,February,"$57,759,509",1.3%,62,"$931,604",Tom & Jerry,-,-,-,"$14,112,629",24.4%
11,January,"$65,138,132",1.5%,55,"$1,184,329",Wonder Woman 1984,-,-,-,"$16,190,880",24.9%

In [40]:
# Drop columns we won't be looking at
cleaned_2021 = table_2021[["Month", "Cumulative Gross", "% of Year", 'Releases','Average']]
cleaned_2021

        Month Cumulative Gross % of Year  Releases     Average
0    December     $921,180,089     20.5%       101  $9,120,594
1    November     $523,343,646     11.7%        87  $6,015,444
2     October     $623,287,457     13.9%        93  $6,702,015
3   September     $367,172,835      8.2%        93  $3,948,095
4      August     $417,701,047      9.3%        94  $4,443,628
5        July     $582,543,500       13%        91  $6,401,576
6        June     $401,276,723        9%        85  $4,720,902
7         May     $214,709,870      4.8%        83  $2,586,865
8       April     $195,097,683      4.4%        79  $2,469,590
9       March     $113,597,962      2.5%        64  $1,774,968
10   February      $57,759,509      1.3%        62    $931,604
11    January      $65,138,132      1.5%        55  $1,184,329

In [41]:
cleaned_2021.columns = ['Month','Cumulative Gross (2021)','% of Year (2021)','Releases (2021)','Average (2021)']
cleaned_2021

,Month,Cumulative Gross (2021),% of Year (2021),Releases (2021),Average (2021)
0,December,"$921,180,089",20.5%,101,"$9,120,594"
1,November,"$523,343,646",11.7%,87,"$6,015,444"
2,October,"$623,287,457",13.9%,93,"$6,702,015"
3,September,"$367,172,835",8.2%,93,"$3,948,095"
4,August,"$417,701,047",9.3%,94,"$4,443,628"
5,July,"$582,543,500",13%,91,"$6,401,576"
6,June,"$401,276,723",9%,85,"$4,720,902"
7,May,"$214,709,870",4.8%,83,"$2,586,865"
8,April,"$195,097,683",4.4%,79,"$2,469,590"
9,March,"$113,597,962",2.5%,64,"$1,774,968"
10,February,"$57,759,509",1.3%,62,"$931,604"
11,January,"$65,138,132",1.5%,55,"$1,184,329"

In [42]:
# Grab 2022 table and put into Pandas
response = requests.get(url_2022)
table_22 = pd.read_html(response.text)
table_2022 = table_22[0]
table_2022

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total
0,December,"$677,889,565",9.2%,103,"$6,581,452",Avatar: The Way of Water,-,-,-,"$401,007,908",59.2%
1,November,"$627,967,014",8.5%,104,"$6,038,144",Black Panther: Wakanda Forever,-,-,-,"$374,279,837",59.6%
2,October,"$469,077,379",6.4%,124,"$3,782,882",Black Adam,-,-,-,"$112,888,394",24.1%
3,September,"$323,170,990",4.4%,134,"$2,411,723",The Woman King,-,-,-,"$41,487,506",12.8%
4,August,"$466,953,463",6.3%,93,"$5,021,004",Bullet Train,-,-,-,"$80,030,018",17.1%
5,July,"$1,133,519,549",15.4%,92,"$12,320,864",Minions: The Rise of Gru,-,-,-,"$320,494,170",28.3%
6,June,"$968,941,491",13.1%,96,"$10,093,140",Top Gun: Maverick,-,-,-,"$362,159,641",37.4%
7,May,"$785,932,315",10.7%,89,"$8,830,700",Doctor Strange in the Multiverse of Madness,-,-,-,"$376,528,475",47.9%
8,April,"$571,022,697",7.7%,96,"$5,948,153",Sonic the Hedgehog 2,-,-,-,"$157,528,706",27.6%
9,March,"$589,385,878",8%,96,"$6,139,436",The Batman,-,-,-,"$338,200,421",57.4%
10,February,"$365,862,371",5%,80,"$4,573,279",Uncharted,-,-,-,"$84,618,436",23.1%
11,January,"$389,782,780",5.3%,66,"$5,905,799",Spider-Man: No Way Home,-,-,-,"$163,815,488",42%

In [43]:
# Drop columns we won't be looking at
cleaned_2022 = table_2022[["Month", "Cumulative Gross", "% of Year", 'Releases','Average']]
cleaned_2022

        Month Cumulative Gross % of Year  Releases      Average
0    December     $677,889,565      9.2%       103   $6,581,452
1    November     $627,967,014      8.5%       104   $6,038,144
2     October     $469,077,379      6.4%       124   $3,782,882
3   September     $323,170,990      4.4%       134   $2,411,723
4      August     $466,953,463      6.3%        93   $5,021,004
5        July   $1,133,519,549     15.4%        92  $12,320,864
6        June     $968,941,491     13.1%        96  $10,093,140
7         May     $785,932,315     10.7%        89   $8,830,700
8       April     $571,022,697      7.7%        96   $5,948,153
9       March     $589,385,878        8%        96   $6,139,436
10   February     $365,862,371        5%        80   $4,573,279
11    January     $389,782,780      5.3%        66   $5,905,799

In [44]:
cleaned_2022.columns = ['Month','Cumulative Gross (2022)','% of Year (2022)','Releases (2022)','Average (2022)']
cleaned_2022

,Month,Cumulative Gross (2022),% of Year (2022),Releases (2022),Average (2022)
0,December,"$677,889,565",9.2%,103,"$6,581,452"
1,November,"$627,967,014",8.5%,104,"$6,038,144"
2,October,"$469,077,379",6.4%,124,"$3,782,882"
3,September,"$323,170,990",4.4%,134,"$2,411,723"
4,August,"$466,953,463",6.3%,93,"$5,021,004"
5,July,"$1,133,519,549",15.4%,92,"$12,320,864"
6,June,"$968,941,491",13.1%,96,"$10,093,140"
7,May,"$785,932,315",10.7%,89,"$8,830,700"
8,April,"$571,022,697",7.7%,96,"$5,948,153"
9,March,"$589,385,878",8%,96,"$6,139,436"
10,February,"$365,862,371",5%,80,"$4,573,279"
11,January,"$389,782,780",5.3%,66,"$5,905,799"

In [45]:
# Grab 2023 table and put into Pandas
response = requests.get(url_2023)
table_23 = pd.read_html(response.text)
table_2023 = table_23[0]
table_2023

,Month,Cumulative Gross,% of Year,Releases,Average,#1 Release,Genre,Budget,Running Time,Gross,% of Total
0,December,"$321,770,088",3.8%,82,"$3,924,025",Wonka,-,-,-,"$48,913,301",15.2%
1,November,"$551,961,137",6.5%,111,"$4,972,622",The Hunger Games: The Ballad of Songbirds & Sn...,-,-,-,"$106,743,408",19.3%
2,October,"$556,040,943",6.6%,115,"$4,835,138",Taylor Swift: The Eras Tour,-,-,-,"$150,890,845",27.1%
3,September,"$472,947,170",5.6%,116,"$4,077,130",The Equalizer 3,-,-,-,"$85,213,354",18%
4,August,"$812,833,316",9.6%,104,"$7,815,704",Barbie,-,-,-,"$232,462,212",28.6%
5,July,"$1,362,543,540",16.1%,92,"$14,810,255",Barbie,-,-,-,"$366,422,042",26.9%
6,June,"$1,003,737,346",11.8%,98,"$10,242,217",Spider-Man: Across the Spider-Verse,-,-,-,"$331,827,099",33.1%
7,May,"$774,058,701",9.1%,105,"$7,371,987",Guardians of the Galaxy Vol. 3,-,-,-,"$310,885,750",40.2%
8,April,"$900,856,943",10.6%,128,"$7,037,944",The Super Mario Bros. Movie,-,-,-,"$490,851,630",54.5%
9,March,"$638,179,407",7.5%,131,"$4,871,598",Creed III,-,-,-,"$145,057,951",22.7%
10,February,"$499,389,906",5.9%,110,"$4,539,908",Ant-Man and the Wasp: Quantumania,-,-,-,"$171,337,413",34.3%
11,January,"$584,765,684",6.9%,89,"$6,570,400",Avatar: The Way of Water,-,-,-,"$222,528,552",38.1%

In [46]:
# Drop columns we won't be looking at
cleaned_2023 = table_2023[["Month", "Cumulative Gross", "% of Year", 'Releases','Average']]
cleaned_2023

        Month Cumulative Gross % of Year  Releases      Average
0    December     $321,770,088      3.8%        82   $3,924,025
1    November     $551,961,137      6.5%       111   $4,972,622
2     October     $556,040,943      6.6%       115   $4,835,138
3   September     $472,947,170      5.6%       116   $4,077,130
4      August     $812,833,316      9.6%       104   $7,815,704
5        July   $1,362,543,540     16.1%        92  $14,810,255
6        June   $1,003,737,346     11.8%        98  $10,242,217
7         May     $774,058,701      9.1%       105   $7,371,987
8       April     $900,856,943     10.6%       128   $7,037,944
9       March     $638,179,407      7.5%       131   $4,871,598
10   February     $499,389,906      5.9%       110   $4,539,908
11    January     $584,765,684      6.9%        89   $6,570,400

In [47]:
cleaned_2023.columns = ['Month','Cumulative Gross (2023)','% of Year (2023)','Releases (2023)','Average (2023)']
cleaned_2023

,Month,Cumulative Gross (2023),% of Year (2023),Releases (2023),Average (2023)
0,December,"$321,770,088",3.8%,82,"$3,924,025"
1,November,"$551,961,137",6.5%,111,"$4,972,622"
2,October,"$556,040,943",6.6%,115,"$4,835,138"
3,September,"$472,947,170",5.6%,116,"$4,077,130"
4,August,"$812,833,316",9.6%,104,"$7,815,704"
5,July,"$1,362,543,540",16.1%,92,"$14,810,255"
6,June,"$1,003,737,346",11.8%,98,"$10,242,217"
7,May,"$774,058,701",9.1%,105,"$7,371,987"
8,April,"$900,856,943",10.6%,128,"$7,037,944"
9,March,"$638,179,407",7.5%,131,"$4,871,598"
10,February,"$499,389,906",5.9%,110,"$4,539,908"
11,January,"$584,765,684",6.9%,89,"$6,570,400"

In [49]:
master_df = cleaned_2019.merge(cleaned_2020, left_on = 'Month', right_on = 'Month')
master_df

,Month,Cumulative Gross (2019),% of Year (2019),Releases (2019),Average (2019),Cumulative Gross (2020),% of Year (2020),Releases (2020),Average (2020)
0,December,"$1,148,160,245",10.1%,167,"$6,875,211","$67,691,870",3.2%,65,"$1,041,413"
1,November,"$959,213,976",8.4%,189,"$5,075,206","$62,738,998",3%,86,"$729,523"
2,October,"$781,640,026",6.9%,217,"$3,602,027","$63,361,603",3%,84,"$754,304"
3,September,"$686,794,246",6%,204,"$3,366,638","$86,031,381",4.1%,62,"$1,387,602"
4,August,"$837,630,353",7.4%,211,"$3,969,812","$32,316,928",1.5%,50,"$646,338"
5,July,"$1,288,196,026",11.3%,190,"$6,779,979","$7,806,635",0.4%,45,"$173,480"
6,June,"$1,149,048,054",10.1%,192,"$5,984,625","$3,677,627",0.2%,22,"$167,164"
7,May,"$1,077,667,188",9.5%,225,"$4,789,631","$995,838",<0.1%,13,"$76,602"
8,April,"$1,034,983,338",9.1%,220,"$4,704,469","$52,015",<0.1%,6,"$8,669"
9,March,"$962,715,490",8.5%,192,"$5,014,143","$253,334,028",12%,144,"$1,759,264"
10,February,"$624,462,229",5.5%,147,"$4,248,042","$638,097,308",30.2%,158,"$4,038,590"
11,January,"$812,849,718",7.2%,161,"$5,048,756","$897,742,569",42.5%,146,"$6,148,921"

In [50]:
master_df = master_df.merge(cleaned_2021, left_on = 'Month', right_on = 'Month')
master_df

,Month,Cumulative Gross (2019),% of Year (2019),Releases (2019),Average (2019),Cumulative Gross (2020),% of Year (2020),Releases (2020),Average (2020),Cumulative Gross (2021),% of Year (2021),Releases (2021),Average (2021)
0,December,"$1,148,160,245",10.1%,167,"$6,875,211","$67,691,870",3.2%,65,"$1,041,413","$921,180,089",20.5%,101,"$9,120,594"
1,November,"$959,213,976",8.4%,189,"$5,075,206","$62,738,998",3%,86,"$729,523","$523,343,646",11.7%,87,"$6,015,444"
2,October,"$781,640,026",6.9%,217,"$3,602,027","$63,361,603",3%,84,"$754,304","$623,287,457",13.9%,93,"$6,702,015"
3,September,"$686,794,246",6%,204,"$3,366,638","$86,031,381",4.1%,62,"$1,387,602","$367,172,835",8.2%,93,"$3,948,095"
4,August,"$837,630,353",7.4%,211,"$3,969,812","$32,316,928",1.5%,50,"$646,338","$417,701,047",9.3%,94,"$4,443,628"
5,July,"$1,288,196,026",11.3%,190,"$6,779,979","$7,806,635",0.4%,45,"$173,480","$582,543,500",13%,91,"$6,401,576"
6,June,"$1,149,048,054",10.1%,192,"$5,984,625","$3,677,627",0.2%,22,"$167,164","$401,276,723",9%,85,"$4,720,902"
7,May,"$1,077,667,188",9.5%,225,"$4,789,631","$995,838",<0.1%,13,"$76,602","$214,709,870",4.8%,83,"$2,586,865"
8,April,"$1,034,983,338",9.1%,220,"$4,704,469","$52,015",<0.1%,6,"$8,669","$195,097,683",4.4%,79,"$2,469,590"
9,March,"$962,715,490",8.5%,192,"$5,014,143","$253,334,028",12%,144,"$1,759,264","$113,597,962",2.5%,64,"$1,774,968"
10,February,"$624,462,229",5.5%,147,"$4,248,042","$638,097,308",30.2%,158,"$4,038,590","$57,759,509",1.3%,62,"$931,604"
11,January,"$812,849,718",7.2%,161,"$5,048,756","$897,742,569",42.5%,146,"$6,148,921","$65,138,132",1.5%,55,"$1,184,329"

In [51]:
master_df = master_df.merge(cleaned_2022, left_on = 'Month', right_on = 'Month')
master_df

,Month,Cumulative Gross (2019),% of Year (2019),Releases (2019),Average (2019),Cumulative Gross (2020),% of Year (2020),Releases (2020),Average (2020),Cumulative Gross (2021),% of Year (2021),Releases (2021),Average (2021),Cumulative Gross (2022),% of Year (2022),Releases (2022),Average (2022)
0,December,"$1,148,160,245",10.1%,167,"$6,875,211","$67,691,870",3.2%,65,"$1,041,413","$921,180,089",20.5%,101,"$9,120,594","$677,889,565",9.2%,103,"$6,581,452"
1,November,"$959,213,976",8.4%,189,"$5,075,206","$62,738,998",3%,86,"$729,523","$523,343,646",11.7%,87,"$6,015,444","$627,967,014",8.5%,104,"$6,038,144"
2,October,"$781,640,026",6.9%,217,"$3,602,027","$63,361,603",3%,84,"$754,304","$623,287,457",13.9%,93,"$6,702,015","$469,077,379",6.4%,124,"$3,782,882"
3,September,"$686,794,246",6%,204,"$3,366,638","$86,031,381",4.1%,62,"$1,387,602","$367,172,835",8.2%,93,"$3,948,095","$323,170,990",4.4%,134,"$2,411,723"
4,August,"$837,630,353",7.4%,211,"$3,969,812","$32,316,928",1.5%,50,"$646,338","$417,701,047",9.3%,94,"$4,443,628","$466,953,463",6.3%,93,"$5,021,004"
5,July,"$1,288,196,026",11.3%,190,"$6,779,979","$7,806,635",0.4%,45,"$173,480","$582,543,500",13%,91,"$6,401,576","$1,133,519,549",15.4%,92,"$12,320,864"
6,June,"$1,149,048,054",10.1%,192,"$5,984,625","$3,677,627",0.2%,22,"$167,164","$401,276,723",9%,85,"$4,720,902","$968,941,491",13.1%,96,"$10,093,140"
7,May,"$1,077,667,188",9.5%,225,"$4,789,631","$995,838",<0.1%,13,"$76,602","$214,709,870",4.8%,83,"$2,586,865","$785,932,315",10.7%,89,"$8,830,700"
8,April,"$1,034,983,338",9.1%,220,"$4,704,469","$52,015",<0.1%,6,"$8,669","$195,097,683",4.4%,79,"$2,469,590","$571,022,697",7.7%,96,"$5,948,153"
9,March,"$962,715,490",8.5%,192,"$5,014,143","$253,334,028",12%,144,"$1,759,264","$113,597,962",2.5%,64,"$1,774,968","$589,385,878",8%,96,"$6,139,436"
10,February,"$624,462,229",5.5%,147,"$4,248,042","$638,097,308",30.2%,158,"$4,038,590","$57,759,509",1.3%,62,"$931,604","$365,862,371",5%,80,"$4,573,279"
11,January,"$812,849,718",7.2%,161,"$5,048,756","$897,742,569",42.5%,146,"$6,148,921","$65,138,132",1.5%,55,"$1,184,329","$389,782,780",5.3%,66,"$5,905,799"

In [52]:
master_df = master_df.merge(cleaned_2023, left_on = 'Month', right_on = 'Month')
master_df

,Month,Cumulative Gross (2019),% of Year (2019),Releases (2019),Average (2019),Cumulative Gross (2020),% of Year (2020),Releases (2020),Average (2020),Cumulative Gross (2021),...,Releases (2021),Average (2021),Cumulative Gross (2022),% of Year (2022),Releases (2022),Average (2022),Cumulative Gross (2023),% of Year (2023),Releases (2023),Average (2023)
0,December,"$1,148,160,245",10.1%,167,"$6,875,211","$67,691,870",3.2%,65,"$1,041,413","$921,180,089",...,101,"$9,120,594","$677,889,565",9.2%,103,"$6,581,452","$321,770,088",3.8%,82,"$3,924,025"
1,November,"$959,213,976",8.4%,189,"$5,075,206","$62,738,998",3%,86,"$729,523","$523,343,646",...,87,"$6,015,444","$627,967,014",8.5%,104,"$6,038,144","$551,961,137",6.5%,111,"$4,972,622"
2,October,"$781,640,026",6.9%,217,"$3,602,027","$63,361,603",3%,84,"$754,304","$623,287,457",...,93,"$6,702,015","$469,077,379",6.4%,124,"$3,782,882","$556,040,943",6.6%,115,"$4,835,138"
3,September,"$686,794,246",6%,204,"$3,366,638","$86,031,381",4.1%,62,"$1,387,602","$367,172,835",...,93,"$3,948,095","$323,170,990",4.4%,134,"$2,411,723","$472,947,170",5.6%,116,"$4,077,130"
4,August,"$837,630,353",7.4%,211,"$3,969,812","$32,316,928",1.5%,50,"$646,338","$417,701,047",...,94,"$4,443,628","$466,953,463",6.3%,93,"$5,021,004","$812,833,316",9.6%,104,"$7,815,704"
5,July,"$1,288,196,026",11.3%,190,"$6,779,979","$7,806,635",0.4%,45,"$173,480","$582,543,500",...,91,"$6,401,576","$1,133,519,549",15.4%,92,"$12,320,864","$1,362,543,540",16.1%,92,"$14,810,255"
6,June,"$1,149,048,054",10.1%,192,"$5,984,625","$3,677,627",0.2%,22,"$167,164","$401,276,723",...,85,"$4,720,902","$968,941,491",13.1%,96,"$10,093,140","$1,003,737,346",11.8%,98,"$10,242,217"
7,May,"$1,077,667,188",9.5%,225,"$4,789,631","$995,838",<0.1%,13,"$76,602","$214,709,870",...,83,"$2,586,865","$785,932,315",10.7%,89,"$8,830,700","$774,058,701",9.1%,105,"$7,371,987"
8,April,"$1,034,983,338",9.1%,220,"$4,704,469","$52,015",<0.1%,6,"$8,669","$195,097,683",...,79,"$2,469,590","$571,022,697",7.7%,96,"$5,948,153","$900,856,943",10.6%,128,"$7,037,944"
9,March,"$962,715,490",8.5%,192,"$5,014,143","$253,334,028",12%,144,"$1,759,264","$113,597,962",...,64,"$1,774,968","$589,385,878",8%,96,"$6,139,436","$638,179,407",7.5%,131,"$4,871,598"
10,February,"$624,462,229",5.5%,147,"$4,248,042","$638,097,308",30.2%,158,"$4,038,590","$57,759,509",...,62,"$931,604","$365,862,371",5%,80,"$4,573,279","$499,389,906",5.9%,110,"$4,539,908"
11,January,"$812,849,718",7.2%,161,"$5,048,756","$897,742,569",42.5%,146,"$6,148,921","$65,138,132",...,55,"$1,184,329","$389,782,780",5.3%,66,"$5,905,799","$584,765,684",6.9%,89,"$6,570,400"

In [54]:
from pathlib import Path

filepath = Path('Resources/master_monthly_revenue.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
master_df.to_csv(filepath, index=False)